@import	url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&diplsay=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/* HEADER & NAV */
header{
	background: linear-gradient(138deg, rgba(7,26,44,0.9) 0%, rgba(18,59,26,0.8) 100%), url("https://i.ibb.co/9sKQzwF/IMG-20210718-WA0001.jpg") center center / cover no-repeat;
}
/* PopupInformativo */
#informativePopup{
	background: var(--colorlight);
}
#informativePopup h2{
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 900;
	font-size: 45px;
	-webkit-text-stroke: 2px var(--colorthree);
	color: var(--colorsecondary);
}
#informativePopup p, #informativePopup a{
	color: #FFF;
	color: var(--colorthree);
	font-size: 18px;
	margin: auto;
	text-align: center;
	padding: 50px 50px 0 50px;
}
/* SCROLL UP*/
.scrollUp{
	background: var(--colorthree);
	color: var(--colorlight);
	position: fixed;
	left: 2%;
	top: 93%;
	padding: 10px;
	border: solid 2px var(--grey);
	cursor: pointer;
	display: none;
}
.scrollUp:hover{
	filter: saturate(0.7);
}
/*NAV*/
header nav{
    width: 100%;
    padding-top: 0px;
    box-shadow: none;
    z-index: 9;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed !important;
}
header nav.sticky{
	background: var(--colorthree);
}
header nav .navContainer{
    width: 100%;
    max-width: 1500px;
    position: relative;
    padding: 0px 20px;
    margin: 0px auto;
    z-index: 19;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .logo{
	transition: padding 0.3s linear 0s;
	padding: 20px 0;
}
header nav.sticky .logo{
	padding: 10px 0;
}
header nav .logo img{
	transition: max-width 0.3s linear 0s;
	max-width: 250px;
	display: block;
}
header nav.sticky .logo img{
	max-width: 200px;
}
header nav .linkSection{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	margin: 0 20px;
}
header nav .linkSection .links {
	align-items: center;
	display: flex;
	padding: 10px 0;
}
header nav .linkSection .links .link a{
	text-decoration: none;
	text-overflow: ellipsis;
	max-width: 250px;
	display: block;
	width: 100%;
	padding: 10px;
	color: #FFF;
	white-space: nowrap;
	transition: opacity 0.1s linear 0s;
}
header nav .linkSection .links .link a:hover{
	opacity: 0.5;
}
header nav .toggle{
	display: none;
}
/** DROPDOWN**/
header nav .linkSection .links .link a i{
	padding-left: 5px;
	padding-right: 5px;
}
header nav .linkSection .links .link a i:nth-child(2){
	display: none;
}
header nav .dropdown{
	position: absolute;
	overflow: hidden;
}
header nav .dropdown div{
	position: relative;
	top: -180px;
	transition: top 0.5s ease-in-out;
}
header nav .linkSection .links .link .dropdown ul{
	padding: 10px;
}
header nav.sticky .linkSection .links .link .dropdown ul{
	background: var(--colorthree);
}
/* DROPDOWN ACTIVED */
header nav .dropdown.active div{
	top: 0;
}
header nav .linkSection .links .link .dropdown.active ul{
	list-style: none;
	padding: 10px;
}
header nav .linkSection .links .link .dropdown.active ul li a{
	word-break: break-word;
	max-width: initial;
}
section {
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #071A2C 50%, #123B1A 50%);
    flex-direction: column;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.box{
	position: relative;
	padding: 50px;
	width: 360px;
	height: 480px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 6px;
	box-shadow: 0 5px 35px rgba(0, 0, 0, .2);
}
.box::after{
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 5px;
	pointer-events: none;
	background: linear-gradient(to bottom, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .1) 15%, transparent 50%, transparent 85%, rgba(255, 255, 255, .3) 100%);
}
.box .form{
	position: relative;
	width: 100%;
}
.box .form p{
	position: relative;
	display: inline-block;
	color: #fff;
	font-weight: 300;
	margin-bottom: 10px;
	cursor: pointer;
}
.box .form a{
	color: #FFF;
}
.box .form h2{
	color: #fff;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 30px;
	text-align: center;
}
.box .form .inputBx{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.box .form .errorPassword,
.box .form .errorUser{
	background: #f14141;
	margin-bottom: 10px;
	display: none;
	border-radius: 6px;
	box-shadow: inset 0px 0px 8px 0px #ff0000;
}
.box .form .errorPassword p,
.box .form .errorUser p{
	text-align: center;
	color: #FFF;
}
.box .form .inputBx input::placeholder{
	color: #fff;
}
.box .form .inputBx input{
	width: 100%;
	outline: none;
	border: 1px solid rgba(255, 255, 255, .2);
	background: transparent;
	padding: 8px 10px;
	padding-left: 35px;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	box-shadow: inset 0 0 25px rgba(0, 0, 0, .2);
}
.box .form .inputBx input[type="submit"]{
	background: #F00;
	border: none;
	color: #FFF;
	max-width: 100px;
	padding: 8px 10px;
	box-shadow: none;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
}
.box .form .inputBx ion-icon{
	position: absolute;
	top: 13px;
	left: 10px;
	transform: scale(1.5);
	filter: invert(1);
}